{% load static %}

<script src='{% static "vendor/js/dropzone.js" %}'></script>
<script src='{% static "vendor/js/jquery.autosize.js" %}'></script>
<script src='{% static "vendor/js/jquery.selection.js" %}'></script>
<script src='{% static "vendor/js/Markdown.Converter.js" %}'></script>
<script src='{% static "vendor/js/Markdown.Sanitiser.js" %}'></script>
<script src='{% static "vendor/js/djaodjin-editor.js" %}'></script>
<script src='{% static "vendor/js/jquery-ui.js" %}'></script>
<script src='{% static "vendor/js/jquery.ui.touch-punch.js" %}'></script>
<script src='{% static "vendor/js/nprogress.js" %}'></script>
<script src='{% static "vendor/js/djaodjin-sidebar-gallery.js" %}'></script>
<script>
    $(document).ready(function(){
        $('body').editor({
            base_url: '/example/api/editables/',
            autotag: false,
            template_path:'{{template_path}}',
            csrf_token: "{{ csrf_token }}",
            enable_upload: true,
            img_upload_url:"{% url 'upload_image_element' 'example' %}",
        });

        $.sidebargallery({
            base_url:'/example/api/editables/',
            img_upload_url:"{% url 'upload_image_element' 'example' %}",
            csrf_token: "{{ csrf_token }}",

        });
    });
</script>