{% load static %}
<script src='{% static "vendor/js/jquery.js" %}'></script>
<script src='{% static "vendor/js/angular.js" %}'></script>
<script src='{% static "vendor/js/dropzone.js" %}'></script>
<script src='{% static "js/pages-angular-upload-package.js" %}'></script>
<script>
    app.config(function($interpolateProvider,$locationProvider, $httpProvider) {
        $interpolateProvider.startSymbol("[%");
        $interpolateProvider.endSymbol("%]");
        $httpProvider.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token|escapejs }}";
    });
      app.constant("urls", {
        get_uploaded_templates: "{% url 'pages_api_themes' %}",
        upload_template: "{% url 'pages_api_themes' %}"
    });
      app.constant("csrf", {
        csrf_token: "{{ csrf_token|escapejs }}"
    });
</script>
