beautifulsoup4>=4.3.2
bleach==1.4.2
boto>=2.32.1
Django>=1.7
djangorestframework==3.3.1
django-storages-redux==1.2.3
html5lib>=0.999
Markdown>=2.4.1
pytz>=2016.3
oslo.concurrency>=3.7.0
pillow>=2.5.3
pycrypto>=2.6.1
