{% load testsite_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>djaodjin-pages testsite</title>
  {% block localheader %}{% endblock %}
</head>
<body>
  {% block menubar %}
  <div>
    <a href="/">Home</a>
    {% if request.user.is_authenticated %}
    | <a id="authenticated-user" href="/users/">{{request.user.username}}</a>
    | <a href="/logout/">Sign Out</a>
    {% else %}
    | <a id="login" href="/login/">Sign In</a>
    {% endif %}
  </div>
  {% endblock %}
  <div id="messages">
    <div id="messages-content">
      {% for message in request|messages %}
      <div class="alert{% if message.tags %} alert-{{message.tags}}{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>{{message|safe}}</div>
      </div>
      {% endfor %}
      {% if form %}
      {% for message in form|messages %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>{{message}}</div>
      </div>
      {% endfor %}
      {% endif %}
      <script type="text/javascript">
        var _showErrorMessagesProviderNotified = "We have been notified"
            + " and have started on fixing the error. We apologize for the"
            + " inconvinience.";
      </script>
    </div>
  </div>
  {% block content %}{% endblock %}
  {% block bodyscripts %}
<script type="text/javascript" charset="utf-8" src="/static/vendor/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/vendor/vue.js"></script>
<script type="text/javascript">
Vue.prototype.$itemsPerPage =
    {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %};
Vue.prototype.$urls = {% if urls %}{{urls|to_json}}{% else %}{}{% endif %};
</script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-resources-vue.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/djaodjin-pages-vue.js"></script>
{% block pages_scripts %}{% endblock %}
<script type="text/javascript">
if( document.getElementById('app') ) {
  var app = new Vue({
    el: '#app',
    delimiters: ["[[","]]"],
  });
}
</script>
  {% endblock %}
</body>
</html>
