{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Djaodjin-pages</title>
  </script>
</head>
<body>

<h1 class="editable" id="main-heading">Hello world!</h1>

<div class="editable edit-formatted" id="para-formatted"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore officiis saepe asperiores facere at earum culpa neque dolorem placeat. Inventore deleniti quae illum omnis praesentium, veritatis similique aperiam rerum dolor!</p></div>

<div class="editable edit-markdown" id="para-markdown"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore officiis saepe asperiores facere at earum culpa neque dolorem placeat. Inventore deleniti quae illum omnis praesentium, veritatis similique aperiam rerum dolor!</p></div>

<h3 class="editable edit-currency" id="main-currency">$10.00</h3>

<h3 class="editable edit-currency" id="main-currency2" data-currency-unit="&euro;" data-currency-position="after">23.99&euro;</h3>

<h3 class="editable edit-range" id="main-range" data-range-max="3" data-range-min="1" data-range-step="1">1</h3>

<img alt="Generic placeholder image" class="droppable-image" id="djmedia-two" src="/static/vendor/img/test.gif" style="width: 600px;">

</body>
</html>
