{% extends "base.html" %}

{% block content %}
<div id="app" style="margin-left: 5px;">
  <h1>DjaoDjin Pages</h1>
  <div>
    <h2>For users</h2>
    <div>
      <h3>Content</h3>
      <a href="/boxes-and-enclosures/">Boxes & enclosures</a>
    </div>
    <div>
      <h2>Sequences</h2>
      <ul>
        <li><a href="/sequences/steve/seq/">Sequence without Certificate</a></li>
        <li><a href="/sequences/steve/ghg-accounting-training/">Sequence with Certificate</a></li>
        <li><a href="/sequences/steve/seq-cert-live-event/">Sequence with Certificate And Live Event</a></li>
      </ul>
    </div>
  </div>
  <div>
    <h2>For editors</h2>
      <ul>
        <li><a href="/editables/">Editables</a></li>
      </ul>
  </div>
</div>
{% endblock %}
