{% load static from staticfiles %}

{# Scripts that need to be injected into the page actually being edited #}
{# (i.e. iframe or current page).                                       #}

{# PageElement editors #}
<link rel="stylesheet" href="{% static 'vendor/css/font-awesome.css' %}"/><!-- XXX fontawesome is required by hallo? -->
<link rel="stylesheet" href="{% static 'css/djaodjin-editor.css' %}"/>
<script type="text/javascript" src="{% static 'vendor/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/jquery-ui.js' %}"></script><!-- for droppable() -->
<script type="text/javascript" src="{% static 'vendor/js/jquery.ui.touch-punch.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/jquery.textarea_autosize.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/jquery.selection.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/jquery.ba-throttle-debounce.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/rangy-core.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/hallo.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/Markdown.Converter.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/Markdown.Sanitiser.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js/dropzone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/djaodjin-editor.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.editable').editor({
      baseUrl: '{{ urls.edit.api_page_elements }}',
      preventBlurOnClick: '#toggle-media-gallery, .dj-gallery-item'
    });
  });
</script>

{# For the template code editors #}
{% if templates %}
<script type="text/javascript">
templateNames = {{templates|safe}};
</script>
{% endif %}

{# For the style editors #}
<script type="text/javascript">
less = {
    env: "development",
    async: false,
    fileAsync: false,
    functions: {},
    dumpLineNumbers: "comments",
    relativeUrls: false,
    rootpath: "/static/vendor/less/",
    onReady: false
};
</script>
<link rel="stylesheet/less" href="{% static 'vendor/less/bootstrap/bootstrap.less' %}"/>
<script type="text/javascript" src="{% static 'vendor/js/less.js' %}"></script>
