<div style="display: inline-block;">
  <button type="submit"
    @click="submitFollow()" v-if="itemLoaded && item.follow">Unfollow</button>
  <button class="dj-answers-follow" type="submit"
    @click="submitFollow()" v-if="itemLoaded && !item.follow">Follow</button>
  <button class="dj-answers-upvote" type="submit"
    @click="submitVote()" v-if="itemLoaded && !item.upvote">Upvote</button>
  <button type="submit"
    @click="submitVote()" v-if="itemLoaded && item.upvote">Reset vote</button>
  <a id="nb-follows"
     class="disabled" v-if="itemLoaded">[[nbFollowers]] followers</a>
  <a id="nb-votes"
     class="disabled" v-if="itemLoaded">[[nbUpVotes]] upvotes</a>
</div>
