{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<iframe id="template_view" style="border: none; position:fixed; left: 0; top: 0; width: 100%; height: 100%;" src="http://localhost:8000/"></iframe>

<link rel="stylesheet" href="{% static 'vendor/css/font-awesome.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/css/jquery-ui.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-colorpicker.css' %}"/>
<link rel="stylesheet" href="{% static 'css/djaodjin-editor.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/djaodjin-style-editor.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/djaodjin-sidebar-gallery.css' %}" type="text/css" />
<div style="top:200px;position:fixed;right:-1px;z-index:10000" class="btn-group-vertical btn-group-sm btn-tools" role="group" aria-label="...">
  <button class="btn btn-primary" style="opacity:0.9;" id="toggle-media-gallery" data-target="#media-gallery" data-intro="Image gallery" data-position="left" title="Image Gallery"><i class="fa fa-picture-o fa-lg"></i></button>
  <button class="btn btn-primary" style="opacity:0.9;" id="toggle-code-editor" data-target="#code-editor" data-intro="Code Editor" data-position="left" title="Code"><i class="fa fa-code fa-lg"></i></button>
  <button class="btn btn-primary" style="opacity:0.9;" id="toggle-style-editor" data-target="#style-editor" data-intro="Style Editor" data-position="left" title="Styles"><i class="glyphicon glyphicon-italic"></i></button>
</div>
<div id="media-gallery" class="dj-gallery custom-gallery">
  <div class="col-md-12">
    <hr>
    <div class="form-group">
        <input placeholder="Search..." class="dj-gallery-filter form-control" type="text" >
        <div class="progress gallery-upload-progress" style="display:none;">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="progress-bar-info"></span>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="dj-gallery-items">
            </div>
            <div class="clickable-area">
              <em>Drag'n'drop or click here.</em>
            </div>
          </div>
        </div>
        <div class="dj-gallery-info-item"></div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-preview-media" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Preview</h4>
        </div>
        <div class="modal-body" style="padding:0;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="code-editor" class="custom-gallery" style="width:800px;right:-800px;">
  <ul class="nav nav-tabs dashboard-tab" role="tablist">
    {% for template in templates %}
    <li class="{% if template.index == 0 %}active{% endif %}">
      <a href="#tab-{{template.index}}" data-toggle="tab">{{template.name}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content" style="width:100%;min-height:100%;display:inline;">
    {% if templates %}
    {% for template in templates %}
    <div id="tab-{{template.index}}" class="tab-pane{% if template.index == 0 %} active{% endif %}" role="tabpanel" style="width:100%;height:100%;">
      <div class="content" data-content="{{template.name}}" style="width:100%;min-height:100%;">
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div>No editable templates</div>
    {% endif %}
  </div>
</div>


<div id="style-editor" class="custom-gallery" style="width:800px;right:-800px;">
  <h2>Styles</h2>
  <button class="refresh-styles btn btn-primary">Reload</button>
  <form id="editable-styles-form" class="form-horizontal">
  {% for section_name,section_attributes in editable_styles %}
  <hr>
  <h3>{{section_name}}</h3>
    {% for attribute in section_attributes %}
    <div class="form-group">
      <label for="style_attribute_{{forloop.parentloop.counter}}_{{forloop.counter}}"
             class="col-sm-3 control-label">{{attribute.property}}</label>
      <div class="col-sm-7">
        <input id="style_attribute_{{forloop.parentloop.counter}}_{{forloop.counter}}"
               name="{{attribute.property}}"
               type="text"
               class="form-control"
               {% if attribute.editor %}
               data-dj-style-variable-editor="{{attribute.editor}}"
               {% endif %}
               value="{{ attribute.value }}" />

      </div>
      <div class="col-sm-2">
      <button class="btn btn-primary style-reset-button"
              data-target="style_attribute_{{forloop.parentloop.counter}}_{{forloop.counter}}"
              data-reset-value="{{ attribute.default }}"
              type="button"
              >Reset to default</button>
      </div>

    </div>
    {% endfor %}
    {% endfor  %}
  </form>
</div>



<script src="{% static 'vendor/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/dropzone.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/jquery-ui.js' %}"></script>
<script src="{% static 'vendor/js/jquery.ui.touch-punch.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/js/rangy-core.js' %}"></script>
<script src="{% static 'vendor/js/hallo.js' %}"></script>
<script src="{% static 'vendor/js/rangy-core.js' %}"></script>
<script src="{% static 'vendor/js/Markdown.Converter.js' %}"></script>
<script src="{% static 'vendor/js/Markdown.Sanitiser.js' %}"></script>
<script src="{% static 'vendor/js/jquery.textarea_autosize.js' %}"></script>
<script src="{% static 'vendor/js/jquery.selection.js' %}"></script>
<script src="{% static 'vendor/js/jquery.ba-throttle-debounce.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'js/djaodjin-editor.js' %}" type="text/javascript"></script>
<script src="{% static 'js/djaodjin-style-editor.js' %}" type="text/javascript"></script>
<script src="{% static 'js/djaodjin-upload.js' %}" type="text/javascript"></script>
<script src="{% static 'js/djaodjin-sidebar-gallery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pages-file-edition.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="/static/vendor/js/ace.js"></script>
<script type="text/javascript" src="/static/vendor/js/ext-language_tools.js"></script>
<script type="text/javascript" src="/static/vendor/js/ext-modelist.js"></script>
<script type="text/javascript" src="/static/vendor/js/ext-emmet.js"></script>



<script type="text/javascript">
var edition_sources = [
"{% static 'vendor/js/jquery.js' %}",
"{% static 'vendor/js/dropzone.js' %}",
"{% static 'vendor/js/jquery-ui.js' %}",
"{% static 'vendor/js/jquery.ui.touch-punch.js' %}",
"{% static 'vendor/js/rangy-core.js' %}",
"{% static 'vendor/js/hallo.js' %}",
"{% static 'vendor/js/rangy-core.js' %}",
"{% static 'vendor/js/Markdown.Converter.js' %}",
"{% static 'vendor/js/Markdown.Sanitiser.js' %}",
"{% static 'vendor/js/jquery.textarea_autosize.js' %}",
"{% static 'vendor/js/jquery.selection.js' %}",
"{% static 'vendor/js/jquery.ba-throttle-debounce.js' %}",
"{% static 'vendor/js/bootstrap-colorpicker.min.js' %}",
"{% static 'js/djaodjin-editor.js' %}",
"{% static 'js/djaodjin-style-editor.js' %}",
"{% static 'js/djaodjin-upload.js' %}",
"{% static 'js/djaodjin-sidebar-gallery.js' %}",
"{% static 'js/pages-file-edition.js' %}",
"{% static 'js/edition-tools.js' %}",
];

var load_edition_src = "{% static 'js/load-edition-src.js' %}"
var urls_edit_api_sources = "{{urls.edit.api_sources}}";
var urls_edit_api_sitecss = "{{urls.edit.api_sitecss}}";
var urls_edit_bootstrap_variables = "{{urls.edit.bootstrap_variables}}";
var urls_edit_api_page_elements  = "{{ urls.edit.api_page_elements }}";
var urls_edit_media_upload = "{{urls.edit.media_upload}}";
var csrf_token = "{{csrf_token}}";
var urls_edit_api_page_elements  = "{{ urls.edit.api_page_elements }}";
var media_prefix = "{{media_prefix}}";
var s3_direct_upload_url = "{{s3_direct_upload_url}}";
var access_key = "{{access_key}}";
var aws_policy = "{{aws_policy}}";
var aws_policy_signature = "{{aws_policy_signature}}";
var security_token = "{{security_token}}";
var x_amz_credential = "{{x_amz_credential}}";
var x_amz_date = "{{x_amz_date}}";
var less_root = "{% static 'vendor/' %}";
var less_href = "{% static 'vendor/less/bootstrap/bootstrap.less' %}";
var less_src = "{% static 'vendor/js/less.min.js' %}";


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});

</script>
<script src="{% static 'js/edit.js' %}" type="text/javascript"></script>

{% endblock content %}
