{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Edit Mode | djaodjin-pages</title>
  <link rel="stylesheet" media="screen" href="{% static 'vendor/css/bootstrap.css' %}" />
  <script type="text/javascript" src="{% static 'vendor/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/js/bootstrap.js' %}"></script>
</head>
<body>
<iframe id="template_view" class="edited-page" style="border: none; position:fixed; left: 0; top: 0; width: 100%; height: 100%;" src="{{page}}"></iframe>
{% include "pages/_body_bottom.html" %}
</body>
</html>
