{% extends "base.html" %}
{% load pages_tags %}
{% load static from staticfiles %}
{% block content %}
    <a href="{% url 'uploaded_themes' %}">Theme list</a>
    <h1>Edit theme</h1>
    <div style="">
        <h3>Templates</h3>
        {% print_tree templates %}
        <h3>Statics</h3>
        {% print_tree statics '["img"]' %}
    </div>

<div>
    <h2>Edit file by name</h2>
    <input type="text" id="file-name-input" value="">
    <button id="edit-file-by-name" data-href="{% url 'create_default_theme' %}?redirect_url={{redirect_url}}">Edit file</button>
</div>
<hr>
    <div>
        {% include "pages/pages_editor_modes.html" %}
        <button id="save-edition">Save changes</button>
        <span id="opened-file"></span>
        <span id="status-file" style="color:grey;font-size:11px;"></span>
        <a href="{{redirect_url}}">Preview</a>
    </div>

    <div id="editor" style="width:100%; height:400px"></div>
<script src='{% static "vendor/js/jquery.js" %}'></script>
<script src="{% static 'vendor/js/ace.js' %}"></script>
<script src="{% static 'vendor/js/ext-language_tools.js' %}"></script>
<script src="{% static 'vendor/js/ext-modelist.js' %}"></script>
<script src="{% static 'vendor/js/ext-emmet.js' %}"></script>

<script>
var fileEditionUrl =  "{% url 'pages_api_theme_file' %}";
var themePackageSlug = "{{themepackage.slug}}";
var loadedTemplate = "{{template_loaded}}";
var redirectUrl = "{{redirect_url}}";
</script>
<script src="{% static 'js/pages-file-edition.js' %}"></script>
{% endblock content %}

