{% extends "base.html" %}

{% block content %}
<section  id="app">
  <hr />
  <editables-list inline-template id="editables-list">
    <div>
      <div v-show="itemsLoaded && items.results.length > 0">
        <div v-for="item in items.results">
          <a :id="item.slug" :href="item.slug + '/'">
            <div class="title">
              [[item.title]]
            </div>
          </a>
          <a :href="'#tab-' + item.slug" name="tab-' + item.slug"></a>
        </div>
      </div>
    </div>
  </editables-list>
</section>
{% endblock %}
