{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div ng-app="UploaderApp" ng-controller="UploaderCtrl">
    <h1>Upload theme</h1>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-condensed custab">
            <thead>
                <th>Package name</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="template in uploadedPackagelist">
                    <td>[% template.name %]<span style="font-size:11px;">[% template.slug.replace(template.name, '')|limitTo:10 %]</span></td>
                    <td>[% template.created_at|date %]</td>
                    <td>[% template.updated_at|date %]</td>
                    <td><a href="{% url 'theme_update' %}[% template.slug %]/">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-12">

        <div class="dropzone_area " dropzone="dropzoneConfig" style="margin-top:50px;text-align:center;padding:50px;background:#CCC">Drag and drop files here or click to upload</div>
    </div>
</div>

{% include "pages_upload_templates.html" %}

{% endblock content %}

