# djaodjin-pages
bleach==6.0.0
Django==3.2.24
djangorestframework==3.14.0         #  3.12.4 does not support Django4.2
djaodjin-deployutils==0.10.7
djaodjin-extended-templates==0.4.5
mammoth==1.6.0
markdownify==0.11.6
Markdown==3.4.1
python-dateutil==2.8.1
requests==2.31.0

# testsite-only
coverage==6.3.2
django-extensions==3.1.5
gunicorn==19.7.1
whitenoise==5.1.0
