# djaodjin-pages
bleach==2.0.0
Django==1.11.29
djangorestframework==3.9.4
djaodjin-deployutils==0.10.6
djaodjin-extended-templates==0.4.5
mammoth==1.6.0
markdownify==0.11.6
Markdown==3.1.1
python-dateutil==2.8.1
requests==2.22.0

# testsite-only
coverage==4.0.3
django-extensions==2.0.6
gunicorn==19.7.1
whitenoise==4.1.2
