# Unified requirements file supporting py37-django3.2, py39-django4.2,
# py312-django5.2 for djaodjin-pages

beautifulsoup4==4.13.4               # extract first para of `PageElement.text`
bleach==6.0.0
Django==3.2.25 ; python_version < "3.9"
Django==4.2.26 ; python_version >= "3.9" and python_version < "3.12"
Django==5.2.8  ; python_version >= "3.12"
djangorestframework==3.14.0 ; python_version < "3.9"
djangorestframework==3.15.2 ; python_version >= "3.9" # Breaking
                                     # changes in 3.15.0 and 3.15.1
                                     # were reverted in 3.15.2.
                                     # Requires Django >=4.2 and
                                     # Python >=3.8. See release notes
                                     # for details:
                                     # https://github.com/encode/django-rest-framework/releases
djaodjin-deployutils==0.14.2
djaodjin-extended-templates==0.4.11
html5lib==1.1                        # required dep not pulled by bs4
mammoth==1.6.0                       # to upload .docx as HTML
markdownify==0.11.6                  # to upload .docx as markdown
Markdown==3.4.4                      # last version to support py3.7
python-dateutil==2.8.1
requests==2.31.0

# testsite-only
coverage==6.3.2
django-debug-toolbar==3.8.1 ; python_version < "3.9" # 3.4+ requires Django>=3.2
django-debug-toolbar==5.2.0 ; python_version >= "3.9"
                                  # 3.8.1 fails with Django5.2+
                                  # 3.2.4 fails with SQLPanel is not scriptable
                                  # 2.2.1 is the last version for Django2.2
django-extensions==3.2.1
gunicorn==20.1.0
whitenoise==5.1.0
