# djaodjin-pages
bleach==6.0.0
Django==3.2.25
djangorestframework==3.14.0         #  3.12.4 does not support Django4.2
djaodjin-deployutils==0.11.0
djaodjin-extended-templates==0.4.6
mammoth==1.6.0
markdownify==0.11.6
Markdown==3.4.1
python-dateutil==2.8.1
requests==2.31.0

# testsite-only
coverage==6.3.2
django-debug-toolbar==3.8.1       # 3.4.0 requires Django>=3.2
                                  # 3.2.4 fails with SQLPanel is not scriptable
                                  # 2.2.1 is the last version for Django2.2
django-extensions==3.2.1
gunicorn==20.1.0
whitenoise==5.1.0
